<header>
  <div class="d-flex justify-content-center pb-3">
    <a class="btn btn-outline-secondary rounded-0 border-1 border-0 pt-0 pb-0 text-warning" href="/index"
        role="button"><i class="nf nf-custom-home text-white"></i> Home</a>
    <a class="btn btn-outline-secondary rounded-0 border-1 border-start border-0 pt-0 pb-0 text-warning"
        href="/page/archive" role="button"><i class="nf nf-fa-archive text-white"></i> Archive</a>
    <a class="btn btn-outline-secondary rounded-0 border-1 border-start border-0 pt-0 pb-0 text-warning"
        href="/page/tag" role="button"><i class=" nf nf-fa-hashtag text-white"></i> Tags</a>
    <a class="btn btn-outline-secondary rounded-0 border-1 border-start border-0 pt-0 pb-0 text-warning"
        href="/page/note" role="button"><i class="nf nf-md-notebook_edit text-white"></i> Note</a>
    <a class="btn btn-outline-secondary rounded-0 border-1 border-end border-start border-0 pt-0 pb-0 text-warning"
        href="/donate" role="button"><i class="nf nf-md-currency_usd text-white"></i> Donate</a>
    <a class="btn btn-outline-secondary rounded-0 border-1 border-0 pt-0 pb-0 text-warning" href="/page/about"
        role="button"><i class="nf nf-md-signature_freehand text-white"></i> About</a>
</div>
<div>
    <form class="d-flex" role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </form>
</div>
</header>
