@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --bs-body-font-family: 'Courier Prime', monospace;
}

hr{
    padding: 0;
}

ul {
    list-style: "+ ";
}


.bg-default{
    color: #ffffff;
    background-color: #032833;
}

.text-bg-default{
    color: #032833;
}

.background{
    background-color: #212529;
}
